<script type="text/javascript">

  window.zeldaIcon = "<%= image_path('zelda_landing.jpg') %>"
  window.bearIcon = "<%= image_path('bears_temp.png') %>"
  window.playButton = "<%= image_path('play_button.png') %>"
  window.pause_button = "<%= image_path('pause_button.png') %>"
  window.search_icon = "<%= image_path('search_icon.png') %>"

  <% if logged_in? %>

    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user).html_safe %>

  <% end %>
</script>

<main id="root"></main>
