<script type="text/javascript">

  window.zeldaIcon = "<%= asset_path('zelda_landing.jpg') %>"
  window.bearIcon = "<%= asset_path('bears_temp.png') %>"
  window.playButton = "<%= asset_path('play_button.png') %>"
  window.pause_button = "<%= asset_path('pause_button.png') %>"
  window.search_icon = "<%= asset_path('search_icon.png') %>"
  window.goat_scream = "<%= asset_path('screaming_goat.mp3')%>"

  <% if logged_in? %>

    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user).html_safe %>

  <% end %>
</script>

<main id="root"></main>
