<script type="text/javascript">

  window.zeldaIcon = "<%= asset_path('zelda_landing.jpg') %>"
  window.playButton = "<%= asset_path('play_button.png') %>"
  window.pause_button = "<%= asset_path('pause_button.png') %>"
  window.beatsMaster = "<%= asset_path('beastMaster.png') %>"

  <% if logged_in? %>

    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user).html_safe %>

  <% end %>
</script>

<main id="root"></main>
