<!DOCTYPE html>
<html>
<head>
  <title>BeatsMaster</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    'application', "https://fonts.googleapis.com/icon?family=Material+Icons" %>
  <%= stylesheet_link_tag    'application', "https://fonts.googleapis.com/css?family=Antic" %>
  <%= stylesheet_link_tag    'application', "https://fonts.googleapis.com/css?family=Poppins" %>
  <%= stylesheet_link_tag    'application', "https://fonts.googleapis.com/css?family=Open+Sans:300" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
